@import 'sass/_universal';
@import 'sass/_variables';
@import 'sass/_navbar';

body {
  background-image: url(multimedia/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  font-size: $size2;
  font-family: $font1;
}

.card {
  background-color: $color1;
  border-radius: $size1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
  margin-top: $size6;
  border-radius: $size3;
}

.card img {
  max-width: $high;
  border-radius: 15px;
  padding: $size1;
}

.card-content {
  padding: $size3;

    .card-content h1 {
      font-size: $size5;
      font-weight: bold;
      color: $color2;
      white-space: nowrap;
      margin-left: -10px;
      text-align: center;
    
        .card-content p {
          font-size: 12px;
          line-height: 1.7;
    }
  }
}

.alimentos .card-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  font-size: 10px;
  font-family: $font1;

  .card {
    background-color: $color1;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
    margin-top: 30px;
    border-radius: 5px 5px 0 0;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px 5px 0 0;

      .card-content {
        padding: 20px;

        h1 {
          font-size: 20px;
          font-weight: bold;
          color: $color2;
          text-align: center;
          white-space: nowrap;
          margin-bottom: 5%;
          p {
            font-size: 30px;
            line-height: 1.7;
            text-align: center;
          }
        }
      }
    }
  }
}

.card-3 img {
  height: 183px;
}

.card-2 img {
  height: 183px;
}

.card-1 img {
  height: 183px;
}

  @import 'sass/_mediaqueries';
